body {
    background-image: url("https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #cccccc;
}

#title {
    color: #cccccc;
    text-align: center;
}

#instructions {
    color: #cccccc;
    text-align: center; 

}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.crystal{
    height: 150px;
    width: 150px;
}

.card-body {
    background-color: grey;
}
